body{
    background:violet;
}
.header_div{
    background: white;
    color:violet;
}
.header_div p{
    color: grey;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button{
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer{
    position: fixed;
    color: blue;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: yellow;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px red;
    
}
